{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">
    {% block 'meta' %}{% endblock %}

    <title>
      {% if object.title %}
        {{object.title}}
      {% else %}
        ООО "Красноярская Горная Компания"
      {% endif %}
    </title>

    {% block 'subtitle' %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <!-- different CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
 
  <body>
    <div id='pre-body' class="container-fluid">
      <div class='container'>
        <a href="/" class="hidden-sm-down col-md-2">
          <img id='header_logo' src="{% static 'img/logo.jpg'%}" alt="">
        </a>
        <div class='titling'>
        <a href="/">
          ООО "Красноярская Горная Компания"
        </a>
        </div>
        <div class="subtitle">
          Профессионализм. Качество. Ответственность.
        </div>
      </div>
    </div>
    <header>
        
        <div class='hamburger' onclick="$('.menu-mobile').toggle();">
          <i class="far fa-bars"></i>
        </div>
    <div class="container">
      <ul class='nav nav-pills hidden-md-down'>
        <li class='nav-item hidden-lg-down'>
          <a class='nav-link' href="/"><i class="fas fa-home"></i></a>
        </li>
        {% for key, val in menu.items %}
          {% if val|length_is:"1" %}
            <li class='nav-item'>
              <a class='nav-link' href="{% url 'simple-page' val.0.slug %}">{{val.0.name_in_menu}}</a>
            </li>
          {% else %}
            <li class='nav-item dropdown'>
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{key}}</a>
              <ul class="dropdown-menu">
                {% for btn in val%}
                <li class='dropdown-item'>
                  <a href="{% url 'simple-page' btn.slug %}">{{btn.name_in_menu}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class='nav nav-pills nav-stacked hidden-lg-up menu-mobile' style="display: none;">
        {% for key, val in menu.items %}
          {% if val|length_is:"1" %}
            <li class='nav-item'>
              <a class='nav-link' href="{% url 'simple-page' val.0.slug %}">{{val.0.name_in_menu}}</a>
            </li>
          {% else %}
            <li class='nav-item dropdown'>
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{key}}</a>
              <ul class="dropdown-menu">
                {% for btn in val%}
                <li class='dropdown-item'>
                  <a href="{% url 'simple-page' btn.slug %}">{{btn.name_in_menu}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    </header>
    <div class="main">
      {% block 'content' %}

      {% endblock %}
    </div>
    <footer class="container-fluid">
     <i class="far fa-copyright"></i> ООО "Красноярская горная компания" 2020
    </footer>

    {% block 'additional_js' %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
</html>