{% extends 'base.html' %}
{% load static from staticfiles %}

{% block 'content' %}
<!-- Здесь размещаем  текстовый контент -->
{% for article in articles %}
    {% if article.header %}
        <h3>{{article.header}}</h3>
    {% endif %}
    <div>
        {% autoescape off %}
          {{article.text}}
        {% endautoescape %}
    </div>
{% endfor %}
<!-- Здесь размещаем  картинки -->
{% if images %}
  <h3>Изображения</h3>
  {% for image in images %}
    {% if image.label %}
      <label>{{ image.label }}</label>
    {% endif %}
    <img src={{ image.image.url }} alt='{{ image.label | default_if_none:"изображение"}}'>
  {% endfor %}
{% endif %}
<!-- Здесь размещаем  прикрепленные файлы -->
{% if files %}
  <h3>Файлы</h3>
  {% for file in files %}
  <p>
    <!--вероятно стоит добавить какую-то иконку, обозначающую файл -->
    <a href="{{file.file.url}}" target="blank">{{ file.label | default_if_none:"изображение"}}</a>
  </p>
  {% endfor %}
{% endif %}

{% endblock %}